
<!DOCTYPE html>
<html lang="en" ng-app="portfolio">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="g8SpifNh2ebTOh43MV6_0iKHfANxhKcQgnqQ4E6BJsI">

    <!-- build:style bundle -->
    <!-- /build -->
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css">
</head>

<body ontouchstart>

<div id="colors">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<header ng-controller="Header">
    <figure>
        <a href="/">Taylor Code</a>
    </figure>
    <nav>
        <ul>
            <li><a ng-click="scrollTo('colors')">Home</a></li>
            <li><a ng-click="scrollTo('projects')">Projects</a></li>
            <li><a ng-click="scrollTo('blog')">Blog</a></li>
        </ul>
    </nav>
</header>

<div ng-view></div>

<footer>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-touch.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-cookies.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>


<!-- plugins -->
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>

<!-- build:process -->
<script>
(function () {

    if('<%= environment %>' === 'dev') return window.log = console.log.bind(console);
    window.log = function () {};

}).call(this);
</script>
<!-- /build -->

<!-- build:script bundle -->
<!-- /build -->

<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</body>

</html>






